/* Google fonts script */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Default styles for the page, optimised for mobile first design */
html, body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#front-page {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-grow;
}

#sidebar {
    flex-grow: 1;
    background-color: darkgrey;
}

#main {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    background-color: gold;
}

main {
    flex-grow: 1;
    display: flex;
}

header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: bisque;
}